# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor/IDE stuff
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Python tooling caches
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
